#color-box {
  width: 200px;
  height: 200px;
}
#gray-button {
  background: gray;
}
#blue-button {
  background: rgb(67, 111, 255);
}
#pink-button {
  background: pink;
}
/* TODO 1
*
* Add a CSS rule for the pink button.
*
*/
